{% extends '_helpers/_base.html' %}

{% block content %}
    <div>
        <h2>Animals</h2>
        <a href="{% url 'animals:create' %}">
            <button class="btn btn-success">+</button>
        </a>

        <ol class="my-custom-list">
            {% for animal in object_list %}
                <li class="my-element-style">
                    <div>
                        <div class="col">
                            {% if animal.avatar %}
                                <img class="animal-avatar" src="{{ animal.avatar.url }}" alt="{{ animal.name }}" />
                            {% endif %}
                            <span>{{ animal.name }}</span>
                            <span> - </span>
                            <span>{{ animal.age }}</span>
                            <a href="{% url 'animals:edit' pk=animal.pk %}">
                                <button class="btn btn-primary">
                                    Edit
                                </button>
                            </a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}
