{% extends '_helpers/_base.html' %}

{% block content %}
    <div>
        <h2>Animals</h2>
        <ol class="my-custom-list">
            {% for animal in animals %}
                <li class="my-element-style">
                    <div>
                        <div class="col">
                            <span>{{ animal.name }}</span>
                            <span> - </span>
                            <span>{{ animal.age }}</span>
                            <a href="{% url 'animals:edit' pk=animal.pk %}">
                                <button class="btn btn-primary">
                                    Edit
                                </button>
                            </a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}
