{% load static %}

<header class="my-header">
    <div class="logo">
        <img src="{% static "images/logo.svg" %}" />
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'password_generator:index' password_length=10 %}">Password generator</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'humans:index' %}">Humans</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'animals:index' %}">Animals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'session_example:index' %}">Session example</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'celery_example:index' %}">Celery example</a>
        </li>
    </ul>
</header>